{deps,
  [ 
    {opentelemetry_api, "1.0.0"},
    {opentelemetry, "1.0.0"},
    {opentelemetry_experimental, {git_subdir, "https://github.com/open-telemetry/opentelemetry-erlang", {tag, "v1.0.0"}, "apps/opentelemetry_experimental"}},
    {opentelemetry_api_experimental, {git_subdir, "https://github.com/open-telemetry/opentelemetry-erlang", {tag, "v1.0.0"}, "apps/opentelemetry_api_experimental"}}

  ]
}.
{extra_src_dirs, []}.

{profiles, [ {dist_profile, [ {src_dirs, ["erl_src", "output"]}
                    , {extra_src_dirs, []}
                    ]}
           , {test_profile, [ {deps, []}
                    , {erl_opts, [debug_info]}
                    , {src_dirs, ["erl_src", "testoutput"]}
                    , {extra_src_dirs, []}
                    ]}
           ]}.

{xref_checks,[undefined_function_calls]}.


%% {pre_hooks,
%%   [ {"(linux|darwin|solaris|win32)", compile, "bash -c 'cd .. && make'"}
%%   , {"(linux|darwin|solaris|win32)", clean, "cd .. && make clean"}
%%   ]}.
